<app-modals></app-modals>
<div class="container">
  <div class="leftContainer">
    <div>
      <img src="../assets/angular-logo.png" alt="logo" />
    </div>
    <div>
      <button
        [ngClass]="
          rotaAtual === rotasEnum.home ? 'navButtonActive' : 'navButton'
        "
        type="button"
        (click)="goTo(rotasEnum.home)"
      >
        <fa-icon [icon]="faHome"></fa-icon>
      </button>
      <button
        [ngClass]="
          rotaAtual === rotasEnum.quiz ? 'navButtonActive' : 'navButton'
        "
        type="button"
        (click)="goTo(rotasEnum.quiz)"
      >
        <fa-icon [icon]="faQuestion"></fa-icon>
      </button>
      <button
        [ngClass]="
          rotaAtual === rotasEnum.ranking ? 'navButtonActive' : 'navButton'
        "
        type="button"
        (click)="goTo(rotasEnum.ranking)"
      >
        <fa-icon [icon]="faRankingStar"></fa-icon>
      </button>
    </div>
    <div></div>
  </div>
  <div class="bodyContent">
    <router-outlet></router-outlet>
  </div>
  <div class="bottomContainer">
    <div>
      <button
        [ngClass]="
          rotaAtual === rotasEnum.home ? 'navButtonActive' : 'navButton'
        "
        type="button"
        (click)="goTo(rotasEnum.home)"
      >
        <fa-icon [icon]="faHome"></fa-icon>
      </button>
      <button
        [ngClass]="
          rotaAtual === rotasEnum.quiz ? 'navButtonActive' : 'navButton'
        "
        type="button"
        (click)="goTo(rotasEnum.quiz)"
      >
        <fa-icon [icon]="faQuestion"></fa-icon>
      </button>
      <button
        [ngClass]="
          rotaAtual === rotasEnum.ranking ? 'navButtonActive' : 'navButton'
        "
        type="button"
        (click)="goTo(rotasEnum.ranking)"
      >
        <fa-icon [icon]="faRankingStar"></fa-icon>
      </button>
    </div>
  </div>
</div>
